{% extends 'base.html' %}
{% load bootstrap_pagination %}

{% block title %} {{ headline }} -- linkq {% endblock %}
{% block page_title %} {{ headline }} {% endblock %}


{% block content %}

{% if link_list %}
        {% for link in link_list %}
            <div class="link">
               <div class="dates">
                 <span class="date-added">A: {{ link.created }}</span>
                 {% if link.read %}
                   <span class="date-read">R: {{ link.read }}</span>
                 {% endif %}
               </div>
               <p class="lead"><a href="{{ link.url }}">{{ link.title|default:link.url }}</a></p>
               {% if link.title %}
                  <p class="url">{{ link.url }}</p>
               {% endif  %}
               {% if link.summary %}
                  <div class="summary">
                  {% autoescape off %}
                    {{ link.summary }}
                  {% endautoescape %}
                  </div>
               {% endif %}
            </div>
        {% endfor %}
    {# .... **Now the pagination section** .... #}
    {% bootstrap_paginate page_obj range=5 show_first_last="true" %}
    <p style="text-align: center;"> Total results: {{ paginator.count }}</p>

{% else %}
    <p>No links found</p>
{% endif %}

{% endblock %}
