/*! project specific CSS goes here. */
.link .date-added, .link .date-read {
   font-size: 90%;
   color: #999;
}

.link .summary {
   background-color: #F7F7F9;
   padding: 10px;
}

.link {
   border: 1px solid #ddd;
   margin-bottom: 10px;
   padding: 10px;
}
